<% provide(:title, "О нас") %>
<h1>О нас</h1>
<p>
  Это <a href="http://www.railstutorial.org/"><em>Обучение Ruby on Rails</em></a> а это
  <a href="http://www.railstutorial.org/book">книга</a> и
  <a href="http://screencasts.railstutorial.org/">серии скринкастов</a>
  обучению разработке
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  Это пример приложения из учебника.
</p>