<% provide(:title, "Помощь") %>
<h1>Помощь</h1>
<p>
  Получить помощь по Ruby on Rails можно
  <a href="http://www.railstutorial.org/#help">тут</a>.
  Чтобы получить помощь по приложению Sample, нажмите
  <a href="http://www.railstutorial.org/book"><em>здесь</em></a>.
</p>